@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --color-primary: #000000; /* Black for primary */
  --color-secondary: #ffffff; /* White for secondary accents */
  --color-bg-light: #ffffff; /* White background for light theme */
  --color-text-light: #000000; /* Black text for light theme */
  --color-btn-primary-light: #000000; /* Black button for light theme */
  --color-btn-primary-text-light: #ffffff; /* White text on black button */
  --color-btn-hover-light: #332d2d; /* Darker black on hover */
  --color-link-light: #000000; /* Black links for light mode */
  --color-link-hover-light: #666666; /* Lighter black for links on hover */
}

/* Dark Theme */
.dark {
  --color-bg-dark: #1a1a1a; /* Dark background for dark theme */
  --color-text-dark: #ffffff; /* White text for dark theme */
  --color-btn-primary-dark: #ffffff; /* White button for dark theme */
  --color-btn-primary-text-dark: #000000; /* Black text on white button */
  --color-btn-hover-dark: #cccccc; /* Lighter white for hover on dark mode */
  --color-link-dark: #ffffff; /* White links for dark theme */
  --color-link-hover-dark: #cccccc; /* Lighter white for links on hover */
}
